#main-menu-navigation
    .nav-item a, .menu-content a
        font-size: .9rem
        color: #fff
    .navigation-header
        font-size: .9rem
        color: #909090

.main-menu.menu-dark .navigation > li > a
    padding: 5px 20px

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after
    top: 5px